<!-- Footer -->
<mat-card style="padding:0px; box-shadow:none; background-image: linear-gradient(#f6f9fa, white);">
  <footer class="footer" style="padding-top: 2rem; padding-bottom: 2rem; height: 80px;">
    <div class="container" style="margin-left: 15px; margin-right: 15px; max-width: 2000px; width: 98% !important">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <p class="text-muted medium mb-4 mb-lg-0" style="display:inline;">&copy; Pintailer™ 2019</p> &nbsp;
          <ul class="list-inline mb-2" style="display:inline;">
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#" [routerLink]="['/about']">
                <h5 style="font-size:15px;">About</h5>
              </a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#" [routerLink]="['/support']">
                <h5 style="font-size:15px;">Contact</h5>
              </a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#" [routerLink]="['/pintailerTerms']">
                <h5 style="font-size:15px;">Terms of Use</h5>
              </a>
            </li>
            <!-- <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li> -->
          </ul>

        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <!-- <span class="version-number">V 2.5</span> -->
            <li class="list-inline-item">
              <a target="_blank" href="https://twitter.com/Pintailer1">
                <i class="fa fa-twitter-square" style="font-size:25px; color: #00acee;"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://www.linkedin.com/company/pintailer/">
                <i class="fa fa-linkedin-square" style="font-size:25px; color:#0077B5;"></i>
              </a>
            </li>
            <!-- <li class="list-inline-item">
              <a href="https://www.youtube.com/playlist?list=PLBnQvYSuC_5446quuiw_m902NHONtD4Rk">
                <i class="fa fa-youtube-play" style="font-size:25px; color:red;"></i>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <!-- <button mat-icon-button class="go-to-top" style="outline: none; background: gainsboro; opacity: .7;" (click)="scrollToTop();">
        <mat-icon aria-label="Example icon-button with a heart icon" style="color:#6f8fac;">expand_less</mat-icon>
      </button> -->
  </footer>
</mat-card>
