<!-- Masthead -->
<header class="masthead text-white text-center">
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto animatable fadeInDown">
        <h1 style="margin-bottom: 72px; color: white;" [@fadeInOut]>Ease the Migration from Manual QA to<br />
          Automated
          QA</h1>
      </div>
    </div>
  </div>
  <svg class="arrows animatable fadeInDown" matTooltip="Scroll down to see Pintailer features">
    <path class="a1" d="M0 0 L30 32 L60 0"></path>
    <path class="a2" d="M0 20 L30 52 L60 20"></path>
    <path class="a3" d="M0 40 L30 72 L60 40"></path>
  </svg>
</header>

<!-- Image Showcases -->
<section class="showcase wrapper" style="padding: 5px;  background: linear-gradient(#fdfdfe, #ffffff)">
  <div class="container-fluid p-0">

    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text animatable fadeInUp">
        <h2 class="texto3d">Interactive Reporting</h2>
        <p class="lead mb-0">View consolidated Test Coverage and Execution Reports. i.e. single report for all your
          Manual as well as Automation Test creation and Execution.</p>
      </div>
      <div class="col-lg-6 order-lg-2 text-white showcase-img animatable popUp"
        style="background-image: url('assets/images/reports_generic.png');"></div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img animatable popUp"
        style="background-image: url('assets/images/import_generic.png');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text animatable fadeInUp">
        <h2 class="texto3d">Import and Export</h2>
        <p class="lead mb-0">Import and export the test cases and Executions easily and as per your convenience.</p>
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid jumbotron1">
      <div class="container">
        <h1 class="display-4">Introductory Offer</h1>
        <p class="lead animatable animationDelay bounceInLeft">Free for 1 month for 3 users</p>
        <button type="button" class="btn btn-primary btn-lg featurePageButton animatable fadeInDown"
          style="background-color: #7197b7; border-color: #4a5f74;" [routerLink]="['/pricing']">Check pricing</button>
        <button type="button" class="btn btn-primary btn-lg featurePageButton animatable fadeInDown"
          style="background-color: rgb(241, 89, 33); border-color: rgb(175, 74, 37);" [routerLink]="['/support']">Talk
          to us</button>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img animatable popUp"
        style="background-image: url('assets/images/mapping_generic.png');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text animatable fadeInUp">
        <h2 class="texto3d">Mapping</h2>
        <p class="lead mb-0">Pintailer enables you to establish the link between the manual and automated test cases</p>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text animatable fadeInUp">
        <h2 class="texto3d">Cloud Based</h2>
        <p class="lead mb-0">Stop worrying about maintaining servers, it’s already taken care of. Access Pintailer from
          any place of the world.</p>
      </div>
      <div class="col-lg-6 order-lg-2 text-white showcase-img animatable popUp"
        style="background-image: url('assets/gif/Cloud_new.jpg');"></div>
    </div>

    <div class="jumbotron jumbotron-fluid jumbotron2 animatable fadeInUp">
      <div class="container">
        <h1 class="display-4">Pintailer Blog
        </h1>
        <p class="lead">Read our blogs on automation testing, QA, Migraion from Manual to Automated QA and more...</p>
        <button type="button" class="btn btn-primary btn-lg featurePageButton animatable fadeInDown"
          style="background-color: #7197b7; border-color: #4a5f74;" [routerLink]="['/blog']">Check Our Blog</button>
        <button type="button" class="btn btn-primary btn-lg featurePageButton animatable fadeInDown"
          style="background-color: rgb(241, 89, 33); border-color: rgb(175, 74, 37);"
          [routerLink]="['/requestDemo']">Request A Demo</button>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img animatable popUp"
        style="background-image: url('assets/gif/agile_thumbnail.png');">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text animatable fadeInUp">
        <h2 class="texto3d">Agile Compatible</h2>
        <p class="lead mb-0">Compatibility with the agile development and testing methodologies</p>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text animatable fadeInUp">
        <h2 class="texto3d">Test Case Management</h2>
        <p class="lead mb-0">Ease of Viewing, Editing, Updating and Managing your manual and automated test cases
          with the interactive and super-fast UI</p>
      </div>
      <div class="col-lg-6 order-lg-2 text-white showcase-img animatable popUp"
        style="background-image: url('assets/images/tc_generic.png');"></div>
    </div>

  </div>
</section>

<!-- <div class="wrapper">

  <div class="block animatable bounceIn">bounceIn</div>
  <div class="block animatable bounceInLeft">bounceInLeft</div>
  <div class="block animatable bounceInRight">bounceInRight</div>

  <div class="block animatable fadeIn">fadeIn</div>
  <div class="block animatable fadeInDown">fadeInDown</div>
  <div class="block animatable fadeInUp">fadeInUp</div>

  <div class="block animatable moveUp">moveUp</div>

  <div class="block animatable fadeBgColor">fadeBgColor</div>

</div> -->

<app-footer></app-footer>
