<mat-progress-bar *ngIf="showProgressBar" mode="indeterminate">
</mat-progress-bar>
<h1 mat-dialog-title class="dialog-title-pintailer">Change Password
  <mat-icon class="closePopupIcon" style="float:right; cursor: pointer; color: crimson;" (click)="this.dialogRef.close('cancel')" matTooltip="Close">close</mat-icon>
  <!-- <mat-icon style="float:right; cursor: pointer;" (click)="openHelpFor(29)">help</mat-icon> -->
</h1>

<div>
  <mat-card class="example-card loginBackDiv">
    <mat-card-header>
      <!-- <mat-card-title>Change Password</mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" #PassChangeForm="ngForm" [formGroup]="form" (ngSubmit)="changePassword()">

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" type="text" name="username" formControlName="username">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Old Password" type="text" name="oldPass" formControlName="oldPass">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="New Password" type="text" name="newPass" formControlName="newPass">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Confirm New Password" type="text" name="newPass" formControlName="newPassConfirm">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!PassChangeForm.form.valid">Change
                  Password</button>
              </mat-card-actions>
            </td>
          </tr>
        </table>
      </form>

    </mat-card-content>
  </mat-card>
</div>
