<div style="padding:5px;">
  <mat-card>
    <div class="marginTop5px">
      <!-- <mat-form-field>
        <mat-select placeholder="Organization" [disabled]="showProgressBar" name="organization" (selectionChange)="getProjectsByOrganizationName($event.value)">
          <mat-option *ngFor="let organization of organizations" [value]="organization">
            {{organization}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field style="margin-left:10px">
        <mat-select placeholder="Projects" [disabled]="showProgressBar" name="project" (selectionChange)="getModulesTreeByProjectId($event.value)">
          <mat-option *ngFor="let clientProject of clientProjects" [value]="clientProject.clientProjectId">
            {{clientProject.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-progress-bar *ngIf="showProgressBar" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
  </mat-progress-bar>
  <mat-divider></mat-divider>

  <div class="marginTop5px" *ngIf="false">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search..." #filter (keyup)="filterModuleTree($event.value)">
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <div class="marginTop5px">
    <div class="mat-tree-node" *ngIf="organization != undefined && clientProjectId != undefined">
      <mat-form-field>
        <input id="newRootModule" matInput placeholder="New module...">
      </mat-form-field>
      <button mat-icon-button (click)="saveRootNode()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <mat-card>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- let node;when: hasChildren   is commented because of errors-->
        <mat-nested-tree-node *matTreeNodeDef="let node;">
          <li class="example-tree-container">
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.item">
                <mat-icon *ngIf="node.children._value.length != 0">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-form-field *ngIf="!hasNoContent(node)">
                <input style="width:75%;" matInput #nodeNameInput [value]="node.item">
                <mat-icon style="cursor: pointer;" (click)="updateNode(node, nodeNameInput.value)" matTooltip="save">save</mat-icon>
                <!-- <button mat-icon-button (click)="saveNode(node, itemValue.value, false)">
                  <mat-icon>save</mat-icon>
                </button> -->
              </mat-form-field>

              <mat-form-field *ngIf="hasNoContent(node)">
                <input style="width:75%;" matInput #itemValue placeholder="New module...">
                <mat-icon style="cursor: pointer;" (click)="saveNode(node, itemValue.value, false)" matTooltip="save">save</mat-icon>
                <!-- <button mat-icon-button (click)="saveNode(node, itemValue.value, false)">
                  <mat-icon>save</mat-icon>
                </button> -->
              </mat-form-field>

              <button mat-icon-button (click)="addNewItem(node)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <ul class="example-tree-nested-node">
              <div *ngIf="treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-card>
  </div>
</div>
