/* .example-spacer {
  flex: 1 1 auto;
} */


#loading-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background: url("../assets/gif/Preloader_2.gif") no-repeat center center rgb(255, 255, 255)
}

/* angular material tooltip style */
::ng-deep .mat-tooltip {
  font-size: 12px;
  background-color: rgb(51, 48, 48) !important;
  color: white !important;
  border-radius: 4px;
}
