<h1 mat-dialog-title class="dialog-title-pintailer">{{description}}
  <mat-icon class="closePopupIcon" style="float:right; cursor: pointer; color: crimson;" (click)="this.dialogRef.close('cancel')" matTooltip="Close">close</mat-icon>
  <!-- <mat-icon style="float:right; cursor: pointer;" (click)="openHelpFor(29)">help</mat-icon> -->
</h1>

<div class="example-container">
  <!-- <h1 mat-dialog-title>Non editable information:</h1> -->


  <form #TestCaseExecution="ngForm" [formGroup]="form" (ngSubmit)="save()" style="margin-right: 15px;">
    <mat-dialog-content>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Test Summary" [value]="data.row.testSummary" readonly (click)="readOnlyFieldEdited()"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Pre Conditions" [value]="data.row.preCondition" readonly (click)="readOnlyFieldEdited()"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea class="bigtTextArea" matInput placeholder="Execution Steps" [value]="data.row.executionSteps"
          readonly (click)="readOnlyFieldEdited()"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Expected Result" [value]="data.row.expectedResult" readonly (click)="readOnlyFieldEdited()"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Test Data" [value]="data.row.testData" readonly (click)="readOnlyFieldEdited()"></textarea>
      </mat-form-field>

      <hr class="lineBreak" />

      <div>

        <mat-form-field>
          <mat-select placeholder="Environment" formControlName="environmentId" name="env" (click)="getAllEnvInfo()">
            <mat-option *ngFor="let environment of environmentInfoArr" [value]="environment.executionEnvId" (click)="getSpecificExecutionsDetails()">
              {{environment.executionEnvName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <mat-select placeholder="Release Number" formControlName="releaseId" name="rel">
            <mat-option *ngFor="let release of releaseAllArr" [value]="release.releaseId" (click)="getSpecificExecutionsDetails()">
              {{release.releaseNumber}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field hideRequiredMarker>
          <input matInput [max]="currentDate" [matDatepicker]="picker" placeholder="Execution Date*" formControlName="executionDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field hideRequiredMarker>
          <mat-select placeholder="Test Result*" formControlName="testResult" name="Test" required>
            <mat-option *ngFor="let result of possibleResults" [value]="result.value">
              {{result.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Linked Defect" formControlName="linkedBug">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Remarks" formControlName="actualResult">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="input-full-width" hideRequiredMarker>
          <input type="number" matInput placeholder="Actual LOE (Seconds)*" formControlName="actualLOE" required>
        </mat-form-field>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions style="margin-bottom:0px; padding: 0px;">

      <button type="button" class="mat-raised-button mat-warn" (click)="close()">
        Cancel
      </button>

      <button class="mat-raised-button mat-primary" type="submit" [disabled]="!TestCaseExecution.form.valid">
        Save
      </button>

    </mat-dialog-actions>
  </form>
</div>
